In [12]:
#ANS1

test1 = 'This is a test of the emergency text system,'
print(test1)
with open('test.txt','w') as file:
    file.write(test1)
    file.close()
# read the contents of test.txt
! type test.txt

This is a test of the emergency text system,
This is a test of the emergency text system,

In [13]:
#ANS2

read_file = open('test.txt', 'r')
test2 = read_file.readline()

print(test2) # just for reference

read_file.close()
if test1 == test2:
    print("Both test1 and test2 are same")

This is a test of the emergency text system,
Both test1 and test2 are same

In [14]:
#ANS3

data = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

with open('books.csv','w') as file:
    file.write(data)

In [18]:
#ANS4

import sqlite3
conn = sqlite3.connect('books.db')
c = conn.cursor()
c.execute('DROP TABLE IF EXISTS books')
c.execute('create table books(title varchar(20),author varchar(20), year int)')
conn.commit()

In [19]:
#ANS5

import pandas as pd

read_books = pd.read_csv('books.csv',encoding='unicode_escape')
read_books.to_sql('books', conn, if_exists='append', index = False)

5

In [20]:
#ANS6

c.execute('select title from books order by title asc')
print(c.fetchall())

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

In [21]:
#ANS7

c.execute('select title, author,year from books order by year')
#print(c.fetchall())

df = pd.DataFrame(c.fetchall(), columns=['title','author','year'])
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station   China Miéville  2000
3                          Thud!  Terry Pratchett  2005
4             The Spellman Files        Lisa Lutz  2007

In [22]:
#ANS8
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')
for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

In [23]:
#ANS9

!pip install redis

Collecting redis
  Downloading redis-4.4.2-py3-none-any.whl (237 kB)
     -------------------------------------- 237.8/237.8 kB 1.3 MB/s eta 0:00:00
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Installing collected packages: async-timeout, redis
Successfully installed async-timeout-4.0.2 redis-4.4.2

In [ ]:
import redis
conn = redis.Redis()
conn.hset('test',{
    'count':1,
    'name':'Fester Bestertester'
})
conn.hgetall('test')

In [11]:
#ANS10

conn.hincrby('test', 'count', 1)
conn.hget('test', 'count')