In [30]:
#ANS1
#The two values of Boolean data type is True or False.
a=bool(1<2)
b=bool(1>2)
print(a)
print(b)

True
False

In [ ]:
#Ans2.
and, or, and not

In [ ]:
#Ans3.

AND truth table
True and True – True
True and False— False
False and true – True
False and False – False

OR 
True or True – True 
True or False— True
False or True – True
False or False – False   

EQUAL TO  ==
True == True – True 
True == False— False
False == true – False
False == False – True

In [ ]:
#Ans4.

(5 > 4) and (3 == 5) False
not (5 > 4) False
(5 > 4) or (3 == 5) True 
not ((5 > 4) or (3 == 5)) False
(True and True) and (True == False)   False
(not False) or (not True)   True

In [ ]:
#Ans5.     
> greater than
< less than
== equal to
>= greater than or equal to 
<= less than or equal to
!= notequal to

In [ ]:
#Ans6. 

(= =) this equality operator returns True if the values on the left and right side of the operator match, and False if they don’t match. 
And assignment  =  operator is used to assign value of opeator

In [ ]:
#Ans7. 

If spam ==10:  ,if spam >5: , else:

In [23]:
spam = input()
if spam == 1:
    print('Hello')
elif spam == 2:
    print('Howdy')
else:
    print('Greetings!')

2
Greetings!

In [ ]:
#Ans9.

ctrl+c

In [ ]:
#Ans10. 

Break loop – beaks the statements and don’t run any remaining code
Continue- continue don’t break a complete loop without running the remaining code

In [ ]:
#Ans11. 

No difference all are giving value from range(0-9)

In [25]:
#Ans12.prints the numbers 1 to 10 using a for loop

for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [26]:
#Ans12.prints the numbers 1 to 10 using a while loop

i = 1
while(i<=10):
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#Ans 13 no idea of the ans