In [ ]:
ANS1.   Values : - 'hello'; -87.8; 6
        Expression:- *, - ,/, +

In [ ]:
ANS2.
Any combination of character  written inside quote is called string
Variables are usd for storing data values.

In [ ]:
Ans3.
1. Integer:- whole numbers are called integers
2. float:- numbers containing decimal
3. Boolean:- True or False

In [ ]:
ANS4.
An expression is a combination of operators, all expression reduce to single variable

In [ ]:
Ans5. 
An expression is a combination of operators that is interpreted to produce some other value. 
And Instructions written in the source code for execution are called statements.

In [19]:
#ANS6
bacon = 22

In [20]:
bacon + 1

23

In [24]:
#ANS7
'spamspamspam'

'spamspamspam'

In [ ]:
Ans8.
eggs a valid variable because variable name should start with alphabets. Hence,100 is invalid variable because variable name should not start with number

In [ ]:
Ans9. 
Int(), float(),  str()

In [ ]:
Ans10.
TypeError: can only concatenate str (not "int") to str , therefore, 99 is integer  so we have writeen '99' in this way to make it string.