In [3]:
#ANS1

it is bracket [], this indicates empty list having no value

In [4]:
#ANS2
#using insert we will assign the value in the 3rd place 

spam = [2,4,6,8,10]

spam.insert(3,'hello')
print(spam)

[2, 4, 6, 'hello', 8, 10]

In [ ]:
# Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.

In [29]:
#ANS3 

spam = ['a', 'b', 'c', 'd']
[int(int('3' * 2) / 11)]

#'3'*2 = '33' is strint and passed as int and again divided by 11 which is giving 3 an int

[3]

In [30]:
#ANS4 
spam[-1]

'd'

In [31]:
#ANS5

spam[:2]

['a', 'b']

In [ ]:
# Let's pretend bacon has the list [3.14, 'cat', 11 , 'cat', True] for the next three questions.

In [63]:
bacon = [3.14, 'cat', 11 , 'cat', True]

In [64]:
#ANS6
bacon.index('cat')

1

In [65]:
#ANS7
bacon.append(99)  #append(99) adds the element in the list
print(bacon)

[3.14, 'cat', 11, 'cat', True, 99]

In [67]:
#ANS8

bacon.remove('cat')  #remove element from given list 
print(bacon)

[3.14, 11, True, 99]

In [ ]:
#ANS9

list concatenation is + operator add the whole of one list behind the other list
and list replication operators * operator

In [ ]:
#ANS10

append() adds value at the end
insert() is used to add value where ever we want

In [ ]:
#ANS11 

remove() and pop()

In [ ]:
#ANS12
list values are mutable and string values are immutable

In [ ]:
#ANS13
tuples are written with  round bracket ( ),
list are written with square bracket [ ]

In [69]:
#ANS14

str(42)

'42'

In [ ]:
#ANS15
can create a tuple by placing all elements inside the parentheses(()) separated by commas 
convert it to list using list(sequence).

In [ ]:
#ANS16

They contain references to list values

In [7]:
#ANS17

The copy() returns a copy of the specified list
A deep copy constructs a new compound object and then, recursively, inserts copies into it of the objects found in the original.

In [18]:
#ANS